In [1]:
import pandas as pd
import requests
import datetime
import config

## Extract

In [9]:
inscription_url = "https://dashboard.activcreew.app/api/inscriptions?fields=id, createdAt&populate[event_edition][fields]=id&populate[user][fields]=id&pagination[pageSize]=500"
page = 1
list_inscription_data = []

while True:
    params = {
        "pagination[page]": page,
    }
    response_inscription = requests.get(inscription_url, headers=config.my_headers, params=params)
    inscriptions_data = response_inscription.json()
    list_inscription_data.extend(inscriptions_data["data"])

    page_count = inscriptions_data.get("meta", {}).get("pagination", {}).get("pageCount", 1)

    if page >= page_count:
        break
    page += 1

## Transform

In [10]:
df_inscription = pd.DataFrame(list_inscription_data)
df_inscription

,id,documentId,createdAt,event_edition,user
0,948,t3gjm8ng7fwtkm6mphy8hb0d,2025-03-28T09:30:35.681Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 899, 'documentId': 'd3t6d8econme5rp9go5..."
1,918,d9xr62l20iaerzkfra746br8,2025-03-20T16:18:57.224Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 865, 'documentId': 'ugrl4txznd36qugxc9j..."
2,828,gzsksxnvpvzy2g1ng3psapmt,2025-03-11T08:04:29.726Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 775, 'documentId': 'a5xxcpi0lin0ziuw4l8..."
3,601,ncwezqc3l3ogvgfw2fruru4z,2025-01-12T10:14:51.239Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 533, 'documentId': 'y9w3xu3nkgvexe1ackd..."
4,606,xf26lyly9d2hcg2f18wdd51y,2025-01-19T07:11:35.531Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 551, 'documentId': 'jwhr0mkoiq89rcqzw52..."
...,...,...,...,...,...
510,717,m516pkr3iddscyfyk4ms94o9,2025-02-22T15:19:22.538Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 662, 'documentId': 'dkau3byigdr4xz2r5l0..."
511,1067,nhz9cshjr5pw12efplnnet6g,2025-04-10T08:35:59.556Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 1030, 'documentId': 'u68vy7e486sqb3aam1..."
512,1068,etzfw5scp65c12si8pregm63,2025-04-10T09:35:47.421Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 1031, 'documentId': 'm2ewam97ytevlkg406..."
513,943,j07xbaxfkqjp52m6cao96izp,2025-03-26T23:17:45.610Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 893, 'documentId': 'i80jcoea8evu0w0cdwk..."
514,637,x46cgiar1m0ur9ox3wm5i3j0,2025-01-24T17:27:36.821Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 582, 'documentId': 'pa8izhjk4slf71kw7ox..."

In [11]:
# Get fields from columns dicts
df_inscription["event_edition_id"] = df_inscription["event_edition"].apply(lambda x: x.get("id"))
df_inscription["user_id"] = df_inscription["user"].apply(lambda x: x.get("id"))
df_inscription

,id,documentId,createdAt,event_edition,user,event_edition_id,user_id
0,948,t3gjm8ng7fwtkm6mphy8hb0d,2025-03-28T09:30:35.681Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 899, 'documentId': 'd3t6d8econme5rp9go5...",6,899
1,918,d9xr62l20iaerzkfra746br8,2025-03-20T16:18:57.224Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 865, 'documentId': 'ugrl4txznd36qugxc9j...",6,865
2,828,gzsksxnvpvzy2g1ng3psapmt,2025-03-11T08:04:29.726Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 775, 'documentId': 'a5xxcpi0lin0ziuw4l8...",6,775
3,601,ncwezqc3l3ogvgfw2fruru4z,2025-01-12T10:14:51.239Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 533, 'documentId': 'y9w3xu3nkgvexe1ackd...",6,533
4,606,xf26lyly9d2hcg2f18wdd51y,2025-01-19T07:11:35.531Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 551, 'documentId': 'jwhr0mkoiq89rcqzw52...",6,551
...,...,...,...,...,...,...,...
510,717,m516pkr3iddscyfyk4ms94o9,2025-02-22T15:19:22.538Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 662, 'documentId': 'dkau3byigdr4xz2r5l0...",6,662
511,1067,nhz9cshjr5pw12efplnnet6g,2025-04-10T08:35:59.556Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 1030, 'documentId': 'u68vy7e486sqb3aam1...",6,1030
512,1068,etzfw5scp65c12si8pregm63,2025-04-10T09:35:47.421Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 1031, 'documentId': 'm2ewam97ytevlkg406...",6,1031
513,943,j07xbaxfkqjp52m6cao96izp,2025-03-26T23:17:45.610Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 893, 'documentId': 'i80jcoea8evu0w0cdwk...",6,893
514,637,x46cgiar1m0ur9ox3wm5i3j0,2025-01-24T17:27:36.821Z,"{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrzx...","{'id': 582, 'documentId': 'pa8izhjk4slf71kw7ox...",6,582

In [12]:
# Drop useless columns
df_inscription.drop(columns=["event_edition", "documentId", "user"], inplace=True)
df_inscription

       id                 createdAt  event_edition_id  user_id
0     948  2025-03-28T09:30:35.681Z                 6      899
1     918  2025-03-20T16:18:57.224Z                 6      865
2     828  2025-03-11T08:04:29.726Z                 6      775
3     601  2025-01-12T10:14:51.239Z                 6      533
4     606  2025-01-19T07:11:35.531Z                 6      551
..    ...                       ...               ...      ...
510   717  2025-02-22T15:19:22.538Z                 6      662
511  1067  2025-04-10T08:35:59.556Z                 6     1030
512  1068  2025-04-10T09:35:47.421Z                 6     1031
513   943  2025-03-26T23:17:45.610Z                 6      893
514   637  2025-01-24T17:27:36.821Z                 6      582

[515 rows x 4 columns]

In [13]:
# Convert createdAt to datetime and format output
df_inscription["createdAt"] = pd.to_datetime(df_inscription["createdAt"])
df_inscription["createdAt"] = df_inscription["createdAt"].dt.strftime("%Y-%m-%d")
df_inscription

       id   createdAt  event_edition_id  user_id
0     948  2025-03-28                 6      899
1     918  2025-03-20                 6      865
2     828  2025-03-11                 6      775
3     601  2025-01-12                 6      533
4     606  2025-01-19                 6      551
..    ...         ...               ...      ...
510   717  2025-02-22                 6      662
511  1067  2025-04-10                 6     1030
512  1068  2025-04-10                 6     1031
513   943  2025-03-26                 6      893
514   637  2025-01-24                 6      582

[515 rows x 4 columns]

## Load

In [14]:
df_inscription.to_csv('csv_files/inscriptions_data.csv', index=False)