In [2]:
import pandas as pd
import requests
import config

## Extract

In [3]:
membership_url ="https://dashboard.activcreew.app/api/memberships?fields=mb_status, role&populate[association][fields]=id&populate[user][fields]=id&pagination[pageSize]=500"
page = 1
list_membership_data = []

while True:
    params = {
        "pagination[page]": page,
    }
    response_membership = requests.get(membership_url, headers=config.my_headers, params=params)
    membership_data = response_membership.json()
    list_membership_data.extend(membership_data["data"])

    page_count = membership_data.get("meta", {}).get("pagination", {}).get("pageCount", 1)

    if page >= page_count:
        break
    page += 1

print(len(list_membership_data))

228

## Transform

In [4]:
df_membership = pd.DataFrame(list_membership_data)
df_membership

,id,documentId,mb_status,role,association,user
0,384,t4nppurdai0jotyvht0g5ial,inactive,aspirant,"{'id': 222, 'documentId': 'iyz57fvevfi198g0y64...","{'id': 591, 'documentId': 'yjunx80amdw8dtjoi65..."
1,385,e2lo882lrro0gbu3xdfadygx,inactive,aspirant,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...","{'id': 624, 'documentId': 'n2n1u5dasqilxp2ckfj..."
2,386,jglehobttchmxykjewcfsy6o,inactive,aspirant,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...","{'id': 631, 'documentId': 'yvewt5jpolt0ukjtl0w..."
3,387,u6u2wnafzuo57rx079zqr8hf,inactive,aspirant,"{'id': 222, 'documentId': 'iyz57fvevfi198g0y64...","{'id': 636, 'documentId': 'dwc7ekqhz9749sdjhj7..."
4,388,oalwr5jzbfjrzixxqml0s3yf,inactive,aspirant,"{'id': 222, 'documentId': 'iyz57fvevfi198g0y64...","{'id': 637, 'documentId': 'orf4pt9wptfd72063zf..."
...,...,...,...,...,...,...
223,676,pkh5eiq3i6uefpvzrygte1uv,active,member,"{'id': 250, 'documentId': 'pi48s8qejcydbifnuyt...","{'id': 1075, 'documentId': 'vsuidbtb6nywbqoxo9..."
224,665,k7drhbksiflmak1v0btrerrg,active,member,"{'id': 255, 'documentId': 'umaojwrvddxwauwo6k5...","{'id': 1056, 'documentId': 'epndxi0cjy4vc5ch5w..."
225,681,xmj4xtmbdwewb9s1p72c4cm8,active,member,"{'id': 242, 'documentId': 'l9i4mrcda7186u7udes...","{'id': 648, 'documentId': 'uo0vzwzabzu09bob7hd..."
226,682,sva4356lf6umpj46jqds1pwt,active,member,"{'id': 242, 'documentId': 'l9i4mrcda7186u7udes...","{'id': 871, 'documentId': 'nl8v3grjc6u16vj9kx3..."
227,683,v7jvpmqolniqbw3h5m9vs9aa,active,member,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...","{'id': 954, 'documentId': 'hl8vgxq0b19gex8cjpg..."

In [6]:
# Get fields from columns dicts
df_membership["association_id"] = df_membership["association"].apply(lambda x: x.get("id") if isinstance(x, dict) else None)
df_membership["user_id"] = df_membership["user"].apply(lambda x: x.get("id"))
df_membership

,id,documentId,mb_status,role,association,user,association_id,user_id
0,384,t4nppurdai0jotyvht0g5ial,inactive,aspirant,"{'id': 222, 'documentId': 'iyz57fvevfi198g0y64...","{'id': 591, 'documentId': 'yjunx80amdw8dtjoi65...",222.0,591
1,385,e2lo882lrro0gbu3xdfadygx,inactive,aspirant,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...","{'id': 624, 'documentId': 'n2n1u5dasqilxp2ckfj...",235.0,624
2,386,jglehobttchmxykjewcfsy6o,inactive,aspirant,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...","{'id': 631, 'documentId': 'yvewt5jpolt0ukjtl0w...",235.0,631
3,387,u6u2wnafzuo57rx079zqr8hf,inactive,aspirant,"{'id': 222, 'documentId': 'iyz57fvevfi198g0y64...","{'id': 636, 'documentId': 'dwc7ekqhz9749sdjhj7...",222.0,636
4,388,oalwr5jzbfjrzixxqml0s3yf,inactive,aspirant,"{'id': 222, 'documentId': 'iyz57fvevfi198g0y64...","{'id': 637, 'documentId': 'orf4pt9wptfd72063zf...",222.0,637
...,...,...,...,...,...,...,...,...
223,676,pkh5eiq3i6uefpvzrygte1uv,active,member,"{'id': 250, 'documentId': 'pi48s8qejcydbifnuyt...","{'id': 1075, 'documentId': 'vsuidbtb6nywbqoxo9...",250.0,1075
224,665,k7drhbksiflmak1v0btrerrg,active,member,"{'id': 255, 'documentId': 'umaojwrvddxwauwo6k5...","{'id': 1056, 'documentId': 'epndxi0cjy4vc5ch5w...",255.0,1056
225,681,xmj4xtmbdwewb9s1p72c4cm8,active,member,"{'id': 242, 'documentId': 'l9i4mrcda7186u7udes...","{'id': 648, 'documentId': 'uo0vzwzabzu09bob7hd...",242.0,648
226,682,sva4356lf6umpj46jqds1pwt,active,member,"{'id': 242, 'documentId': 'l9i4mrcda7186u7udes...","{'id': 871, 'documentId': 'nl8v3grjc6u16vj9kx3...",242.0,871
227,683,v7jvpmqolniqbw3h5m9vs9aa,active,member,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...","{'id': 954, 'documentId': 'hl8vgxq0b19gex8cjpg...",235.0,954

In [7]:
# Drop useless columns
df_membership.drop(columns=["documentId", 'association', 'user'], inplace=True)
df_membership

      id mb_status      role  association_id  user_id
0    384  inactive  aspirant           222.0      591
1    385  inactive  aspirant           235.0      624
2    386  inactive  aspirant           235.0      631
3    387  inactive  aspirant           222.0      636
4    388  inactive  aspirant           222.0      637
..   ...       ...       ...             ...      ...
223  676    active    member           250.0     1075
224  665    active    member           255.0     1056
225  681    active    member           242.0      648
226  682    active    member           242.0      871
227  683    active    member           235.0      954

[228 rows x 5 columns]

## Load

In [8]:
df_membership.to_csv("csv_files/membership_data.csv", index=False)